html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

.text-center {
  text-align: center;
}

.el-header {
  padding: unset !important;
  height: unset !important;
  background-color: #d9d9d9;
  font-weight: bold;

  .header-top {
    padding: 15px;

    .header-top-left,
    .header-top-menu {
      margin: auto;
      text-align: center;
      font-size: 24px;
    }

    .header-top-star {
      text-align: center;
      font-size: 10px;

      .el-icon {
        font-size: 20px;
      }
    }
  }
}

.el-dialog {
  background: #6b6b6b !important;

  .el-dialog__close {
    font-size: 30px !important;
    color: white !important;
  }

  .list-group {
    list-style: none;
    padding: 0px 15px;
    text-align: center;
    font-size: 20px;

    .list-group-item {
      padding: 15px 0px;

      a {
        text-decoration: none;
        color: white;
        font-weight: 700;
      }
    }

    .active {
      background-color: white;
      border-radius: 5px;

      a {
        color: black;
      }
    }

    .close-nav-content {
      text-align: right;
      color: white;

      .el-icon {
        font-size: 30px;
      }
    }
  }
}

.el-main {
  padding: unset !important;

  .app-download {
    padding: 20px 16px;
    background: #6b6b6b;
    color: white;

    h2 {
      font-size: 20px;

      span {
        font-size: 12px;
      }
    }

    .el-button {
      padding: 11px 20px;
      height: unset;
      font-size: 12px;
      font-weight: bold;
      color: black;
    }
  }

  .partner {
    .el-row {
      .el-col {
        padding: 5px;
        border: 1px solid #e6e6e6;
      }
    }
  }

  .info {
    padding: 8px 15px;

    .el-row {
      .el-col {
        font-size: 8px;
        color: #6b6b6b;
        font-weight: bold;

        .el-button {
          width: 90%;
          font-size: 10px;
          color: #6b6b6b;
          font-weight: bold;
          border: 1px solid #6b6b6b;

          label {
            font-size: 8px;
          }
        }
      }
    }
  }

  .about-as {
    padding: 20px 16px;
    color: black;

    h3 {
      font-size: 16px;
      line-height: 19px;
    }

    p {
      text-align: left;
      font-size: 14px;
      line-height: 17px;
    }

    .el-image {
      width: 100%;
      height: 150px;
      border-radius: 5px;

      .about-as-image--error {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #d9d9d9;
        color: var(--el-text-color-secondary);
        font-size: 30px;

        .el-icon {
          font-size: 30px;
        }
      }
    }
  }

  .features-and-space {
    h3 {
      font-size: 16px;
      line-height: 19px;
    }

    .el-image {
      width: 130px;
      height: 130px;
      border-radius: 50%;

      .features-and-space-image--error {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #d9d9d9;
        color: var(--el-text-color-secondary);
        font-size: 30px;

        .el-icon {
          font-size: 30px;
        }
      }
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }

  .afq {
    padding: 20px;

    .afq-content {
      padding: 20px;
      background: #d9d9d9;
      border-radius: 5px;

      h4 {
        font-size: 16px;
        line-height: 19px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
        text-align: left;
      }
    }

    .afq-content--two {
      margin-top: 20px;
    }
  }
}

.home-download-app {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 4px 15px;
  background: #d9d9d9;
  text-align: center;
  z-index: 999;

  .el-button {
    padding: 20px 40px;
    background: #6b6b6b;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
}

//style page search
.header-page {
  height: 32px;
  // align-items: center;
  display: flex;
  padding: 0px 16px;
  margin-top: 16px;
  font-weight: bold;

  .icon {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    stroke-width: 2;
  }
}

.page-content {
  padding: 15px;

  .title,
  .icon {
    font-size: 16px !important;
    font-weight: 700 !important;
    margin: 0px !important;
  }

  .el-select {
    width: 100%;
  }

  input {
    height: 45px;
  }

  .el-input__wrapper {
    margin-top: 12px;
  }

  .el-checkbox__input+.el-checkbox__label {
    color: #000000 !important;
    font-weight: 400;
    font-size: 16px;
  }

  .title-block-filter {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
  }

  .tag {
    margin-bottom: 17px;
  }
}

.card-product {
  margin: 0px 10px;

  .el-col-11 {
    max-width: 48% !important;
    flex: 0 0 48% !important;
  }

  img {
    width: 100%;
  }

  .colum-product {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    box-shadow: none !important;
    width: 48%;
    margin-bottom: 14px;

    .content {
      margin: 8px 13px;

      .bottom, button {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #6B6B6B;
      }

      .description{
        margin-bottom: 10px;
      }
    }
  }
}

.d-flex {
  display: flex;
}

.flex-grow-1{
  flex-grow: 1!important;
}

.flex-shrink-0 {
  flex-shrink: 0!important;
}

.align-items-center {
  align-items: center;
}
